* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
}

main.container {
    background-color: rgb(200, 243, 239);
    width: 80%;
    height: 20vh;
    padding: 20px;
    margin: auto;
    overflow-y: scroll;
}
.sticky-section {
    margin-top: 10px;
    border-bottom: solid;
}

.sticky {
    background-color: aqua;
    height: 50px;
    /* make it sticky, and you need to define top: */
    position: sticky;
    top:0;
}

ul {
    /* how to remove the discs from style? */
    margin: 10px 0 10px 10px;
    list-style: none;
}
